.module-setting-mode {
    --text-color: var(--main-text-color);
    --shadow-color: var(--main-shadow-color);

    --width: 175px;
    --padding: 4px;
    --border-radius: 4px;

    --transition-time: .2s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--width);

    box-shadow: 0px 0px 2px -1px var(--shadow-color), inset 0px 0px 2px 1px var(--shadow-color);

    padding: var(--padding);

    border-radius: var(--border-radius);

    transition: var(--transition-time) all;

    box-sizing: border-box;
}

.module-setting-mode:hover,
.module-setting-mode:hover span,
.module-setting-mode:hover::before {
    --text-color: var(--main-text-color-hover);
    --shadow-color: var(--main-shadow-color-hover);
}