.module-setting-input {
    --text-color: var(--main-text-color);
    --border-color: var(--main-border-color);

    --width: 135px;
    --font-size: 16px;

    --transition-time: .15s;

    outline: 0;
    border: none;
    background: none;

    width: var(--width);

    color: var(--text-color);
    font-size: var(--font-size);

    border-bottom: 2px solid var(--border-color);

    transition: var(--transition-time) border;
}

.module-setting-input:hover,
.module-setting-input:focus {
    --text-color: var(--main-text-color-hover);
    --border-color: var(--main-border-color-hover);
}

.module-setting-input::placeholder {
    color: var(--main-placehorder-color);
}

.search-input {
    --width: 100%;

    width: var(--width);
    
    box-sizing: border-box;
}